@import "@/app/mixins";

.box {
    @include flex(center, flex-start);
    flex-direction: column;
    height: 50px;
    padding: 35px;
    border-radius: 30px;
    background: #eee5e0;
    gap: 10px;

    .links_box {
        @include flex(center, center);
        gap: 20px;
    }

    .link {
        @include flex(center, center);
        text-decoration: none !important;
        border: 2px solid #0a0a0a;
        border-radius: 50%;
        padding: 8px;
    }
}