@import "@/app/mixins";

.loading {
    position: fixed;
    top: 0;
    left: 0;
    @include flex(center, center);
    width: 100%;
    height: 100dvh;
    z-index: 10;
    background: var(--main-bg);

    .loader_box {
        @include flex(center, center);
        flex-direction: column;
        width: 300px;
    }
}