* {
  padding: 0;
  margin: 0;
}

:root {
  --main-bg: #0a0a0a;
  --header: #0a0a0a;
  --title: #eee5e0;
  --desc: rgba(238, 229, 224, 0.726);
  --works-border: #eee5e0;
  --icon-link: #eee5e0;
  --elements-hover: #0a0a0a;
  --bg-work-hover: #eee5e0;
}

body {
  background: var(--main-bg);
}

/* Стили для кастомного скролла */
::-webkit-scrollbar {
  width: 5px; /* Ширина скролла */
}

::-webkit-scrollbar-track {
  background: var(--main-bg); /* Цвет фона скролла */
}

::-webkit-scrollbar-thumb {
  background: #333333; /* Цвет ползунка скролла */
  border-radius: 6px; /* Закругление углов ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет ползунка при наведении */
}