@import "@/app/mixins";

.main {
    @include flex(center, center);
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

.hero_section {
    width: 100%;
    min-height: 100dvh;
    height: 100%;
    @include flex(center, center);
    flex-direction: column;
    gap: clamp(20px, 5vw, 70px);

    .title_container {
        @include width;
        @include flex(flex-start, center);
        flex-direction: column;
        position: relative;

        .title {
            @include text(left, 42px, 6vw, 135px, var(--title), 800);
        }

        .description_box {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: flex-end;
            align-items: flex-start;
            gap: clamp(30px, 5vw, 80px);
            position: relative;
            overflow: hidden;

            .desc {
                @include text(left, 12px, 1vw, 16px, var(--desc), 500);

            }

            .contact {
                @include flex(center, center);
                gap: 10px;
                @include text(left, 12px, 1vw, 16px, var(--title), 600);
                text-decoration: none;
                border-bottom: 2px solid var(--title);
                cursor: pointer;
            }

        }

        .contacts_module {
            position: absolute;
            right: 0;
            bottom: -120px;
            z-index: 99;
        }
    }

    .content {
        width: 100%;
        @include flex(center, flex-start);
        position: relative;

        .bg_element {
            min-width: clamp(320px, 90vw, 1760px);
            width: 86%;
            height: clamp(290px, 30vw, 600px);
            background: var(--title);
            border-radius: 0 300px 300px 0;
            @include flex(flex-end, center);
            overflow: hidden;
            position: relative;

            .photo {
                width: clamp(150px, 30vw, 500px);
                height: clamp(250px, 30vw, 600px);
                z-index: 8;
                filter: brightness(0.8);
            }

            .squares_box {
                position: absolute;
                display: grid;
                grid-template-columns: repeat(150, 50px);
                column-gap: 30px;

                .square {
                    width: 80px;
                    height: 80px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                }
            }
        }

        .poster_box {
            position: absolute;
            cursor: pointer;
            z-index: 9;

            &:nth-child(2) {
                top: 10%;
                left: 50%;
                rotate: 10deg;
                width: clamp(160px, 15vw, 270px) !important;
                height: 200px !important;
            }

            &:nth-child(3) {
                top: 75%;
                left: 60%;
                rotate: -20deg;
                width: clamp(250px, 20vw, 400px) !important;
                height: clamp(100px, 10vw, 200px) !important;
            }

            &:nth-child(4) {
                width: clamp(150px, 12vw, 220px) !important;
                height: clamp(130px, 10vw, 220px) !important;
                top: -5%;
                right: 70%;
                rotate: -5deg;
            }

            &:nth-child(5) {
                width: clamp(160px, 20vw, 350px) !important;
                height: clamp(100px, 10vw, 200px) !important;
                top: 60%;
                right: 70%;
                rotate: 15deg;
            }

            &:nth-child(6) {
                width: clamp(250px, 20vw, 400px) !important;
                height: clamp(100px, 10vw, 200px) !important;
                top: 30%;
                left: 5%;
                rotate: -8deg;
            }

            &:nth-child(7) {
                width: clamp(130px, 15vw, 300px) !important;
                height: clamp(100px, 10vw, 200px) !important;
                top: 30%;
                right: 10%;
                rotate: -8deg;
            }


            .poster {
                width: 100%;
                height: 100%;
                transition: 0.2s ease-in;

                &:hover {
                    rotate: 0deg !important;
                    scale: 1.05;
                }
            }
        }
    }
}

@media (max-width: 840px) {
    .hero_section {

        .description_box {
            grid-template-columns: 1fr 1fr !important;
            justify-items: flex-start !important;
            align-items: flex-start !important;
        }

        .content>.poster_box {
            display: none;
        }

    }
}

.work {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .title {
        width: 100%;
        height: clamp(400px, 50vw, 900px);
        @include flex(center, center);
    }

    .works_container {
        @include flex(center, center);
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 150px 150px 0 0;

        .work_box {
            @include flex(center, space-between);
            @include width();
            height: 100px;
            border-top: var(--works-border) 2px solid;
            cursor: pointer;
            transition: .3s ease-in;
            position: relative;


            .work_title_box {
                @include flex(center, center);
                gap: 10px;
                padding-left: 20px;

                .work_title_company {
                    @include text(center, 30px, 5vw, 60px, #ede0ee, 100);
                    transition: .3s ease-in;

                }

                .work_title_project {
                    @include text(center, 30px, 5vw, 60px, #eee5e0, 800);
                    transition: .3s ease-in;

                }
            }

            .work_preview {
                position: absolute;
                bottom: 50%;
                right: 1px;
                border: #eee5e0 2px solid;
                border-radius: 20px;

                .preview {
                    border-radius: 20px;
                }
            }

            .work_preview_active {
                animation: activePreview 0.3s;
            }

            .work_preview_disable {
                display: none;
            }

            @keyframes activePreview {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }

            .work_link::after {
                content: '';
                position: absolute;
                inset: 0
            }

            svg {
                width: 95px;
                height: 95px;

                path {
                    stroke: var(--icon-link);
                    stroke-width: 0.5px;
                    transition: .3s ease-in;

                }
            }


            &:hover {
                background: var(--bg-work-hover);

                .work_title_company {
                    color: var(--elements-hover);
                }

                .work_title_project {
                    color: var(--elements-hover);
                }

                svg>path {
                    stroke: var(--elements-hover);
                }
            }
        }
    }
}

.work_history {
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 50vh;

    .block {
        @include flex(center, space-between);
        width: 75%;
        height: 50vh;

        
    }
}

.experience {
    @include flex(center, center);
    flex-direction: column;
    gap: 180px;
    height: 100%;
    width: 100%;
    padding: 100px 0;

    .parallax_box {
        position: sticky;
        top: 40%;
    }
}

.about {
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    background: var(--about-bg);
    border-radius: 40px;
}

.contacts {
    @include flex(center, center);
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 300px;
    padding: 100px 0;
}