@import "@/app/mixins";

.header {
    position: absolute;
    top: 0;
    background: var(--header);
    width: 100%;
    padding: clamp(10px, 2vw, 30px) 0;
    @include flex(center, center);

    .header_box {
        @include flex(center, space-between);
        height: 100%;
        @include width;

        .logo_box {
            @include flex(center, center);
            gap: 20px;
            height: clamp(20px, 2vw, 38px);
            cursor: pointer;
            position: relative;

            .elem {
                width: clamp(60px, 2vw, 80px);
                height: 100%;
                background: var(--title);
                border-radius: 0 20px 20px 0;
            }

            .name_tag {
                @include text(left, 12px, 1vw, 18px, var(--title), 700);
            }

            .logo_link::after {
                content: '';
                position: absolute;
                inset: 0
            }
        }

        .navigation {
            @include flex(center, center);
            gap: 50px;

            .link {
                @include text(left, 12px, 3vw, 15px, var(--title), 600);
                text-decoration: none;
            }
        }

        .mobile_nav {
            @include flex(center, center);
            position: absolute;
            top: 75px;
            right: 5%;
            background: var(--title);
            border-radius: 10px;

            .nav_block {
                @include flex(center, center);
                width: 100%;
                padding: 20px;

                .link {
                    @include text(left, 12px, 3vw, 15px, var(--header), 600);
                    text-decoration: none;
                    cursor: pointer;

                }
            }
        }
    }

}

@media (max-width: 840px) {
    .header {

        .navigation {
            display: none !important;
        }
    }
}